[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
	ignore = dirty
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	ignore = dirty
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
